<footer class="footer">
  <p>astro-view-transitions-demo</p>
</footer>

<style lang="scss">
  .footer {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    font-size: 0.875rem;
    text-align: right;
  }
</style>